// Style buttons
.o-button-solid,
.o-button-link,
.o-button-light {
  width: 100%;
  border-radius: 24px;
  height: 35px;
  cursor: pointer;
}

.o-button-solid {
  color: var(--singu-white);
  background-color: var(--singu-primary);
  border: var(--singu-primary);
  box-shadow: var(--default-shadow-button);

  &:hover,
  &:focus {
    color: var(--singu-white);
    background-color: var(--singu-primary);
    border: var(--singu-primary);
  }
}

.o-button-light {
  color: var(--singu-primary);
  border: 1px solid var(--singu-primary);
  background-color: var(--singu-transparent);

  &:hover,
  &:focus {
    color: var(--singu-primary);
    border-color: var(--singu-primary);
    background-color: var(--singu-transparent);
  }
}

.o-button-link {
  color: var(--singu-primary);
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    color: var(--singu-primary);
    background-color: transparent;
    border: none;
  }

  @media screen and (max-width: 768px) {
    box-shadow: none;
  }
}

.o-button-disabled {
  color: var(--singu-gray);
  background-color: var(--singu-gray-300);
  border: transparent;
  box-shadow: var(--default-shadow-button);
  opacity: 0.5;
  pointer-events: none;

  &:hover,
  &:focus {
    color: var(--singu-gray);
    background-color: var(--singu-gray-300);
    border: transparent;
  }
}
