:root {
  --singu-white: #ffffff;
  --singu-black: #000000;
  --singu-transparent: transparent;

  --singu-primary: #ff573e;

  --singu-red-100: #fb0219;

  --singu-green-100: #52c41a;

  --singu-yellow-100: #f9ee28;

  --singu-orange-100: #f98a28;

  --singu-blue-100: #0091f8;

  --singu-background: #100f1f;

  --singu-gray-100: #f0f0f0;
  --singu-gray-200: #ebebeb;
  --singu-gray-300: #cccccc;
  --singu-gray-500: #7a7a7a;
  --singu-gray-700: #525252;
  --singu-gray-800: #292929;

  //   others
  --singu-opacity: rgb(255, 255, 255, 0.1);
  --default-shadow-button: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
  --default-shadow-drawer: -8px 5px 10px 6px rgb(255 255 255);
}
