.c-cart-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  background-color: var(--singu-opacity);
  border-radius: 8px;

  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-right: 16px;

    &--image {
      width: 100px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &__body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        &--title,
        &--price {
          font-size: 18px;
          font-weight: 500;
          color: var(--singu-white);
        }

        &--description {
          width: 50ch;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
          font-weight: 500;
          color: var(--singu-gray-500);
        }
      }

      &__icon {
        width: 18px;
        cursor: pointer;
      }
    }
  }
}
